* {
  box-sizing: border-box;
}
body{
  background: #e6e6e6;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 13px Helvetica, Arial;
}
#info{
  width: 100%;
  margin-top: 40px;
}
.hidden{
  display: none;
}
.response{
  background: #f1f1f1;
  position: fixed;
  width: 50%;
  top: 30%;
  left: 25%;
}
form {
  background: #f0f0f0;
  padding: 12px;
  position: fixed;
  top: 30%;
  left: 25%;
  width: 50%;
  border-radius: 3px;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%; 
}
form input:focus{
  outline: none;
}
button {
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px;
  border-radius: 3px; 
}
form button { 
  width: 9%; 
}
button:hover {
  background: #red;
}
#users{
  position: relative;
  top: 30%;
  width: 50%;
  left: 25%;
}
.user {
  margin-bottom: 7px;
  border-radius: 3px;
  background: #f1f1f1;
  padding: 15px;
}
.selected{
  background: #f9f9f9;
}
#role{
  position: fixed;
  bottom: 0;
  left: 0;
}
#rolebutton{
  position: fixed;
  right: 0;
  bottom: 0;
}
#spies{
  position: fixed;
  bottom: 100px;
  left: 0;
}
#spiesbutton{
  position: fixed;
  right: 0;
  bottom: 100px;
}
.data{
  width: 50%;
  position: fixed;
  bottom: 0;
}
.data div, .data div div{
  text-align: center;
}
.half{
  position: fixed;
  width: 33%;
  left: 11%;
  top: 30%;
}
.full{
  position: fixed;
  width: 40%;
  left: 30%;
  top: 30%;
}
.first{
  left: 55%;
}
#begin{
  position: fixed;
  width: 50%;
  left: 25%;
}